CI_ENVIRONMENT = development

app.baseURL = 'http://localhost/esports-tournament/'
app.indexPage = ''
app.CSPEnabled = true

database.default.hostname = localhost
database.default.database = esports_tournament
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_unicode_ci
database.default.port = 3306

encryption.key =

session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
session.savePath = 'writable/session'
session.cookieName = 'esports_session'
session.expiration = 7200
session.matchIP = false
session.timeToUpdate = 300
session.regenerateDestroy = true
cookie.secure = false
cookie.httponly = true
cookie.samesite = 'Lax'
