<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />
	<meta name="author" content="SmartUniversity" />
	<title>Smart University | Enter Grades</title>
	<script src="assets/js/early-theme-init.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
	<!-- icons -->
	<link href="fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
	<link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="fonts/font-awesome/v6/css/all.css" rel="stylesheet" type="text/css" />
	<link href="fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
	<!--bootstrap -->
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- data tables -->
	<link href="assets/plugins/datatables/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<link href="assets/plugins/datatables/css/responsive.bootstrap5.min.css" rel="stylesheet" />
	<!-- Material Design Lite CSS -->
	<link rel="stylesheet" href="assets/plugins/material/material.min.css">
	<link rel="stylesheet" href="assets/css/material_style.css">
	<!-- Theme Styles -->
	<link href="assets/css/theme/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
	<link href="assets/css/theme/style.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/pages/formlayout.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/theme/theme-color.css" rel="stylesheet" type="text/css" />
	<!-- favicon -->
	<link rel="shortcut icon" href="assets/img/favicon.ico" />
	<link href="assets/css/setting-panel.css" rel="stylesheet" type="text/css" />
	<style>
		.grade-input {
			width: 80px;
			text-align: center;
			font-weight: bold;
		}

		.grade-A {
			color: #28a745;
		}

		.grade-B {
			color: #17a2b8;
		}

		.grade-C {
			color: #ffc107;
		}

		.grade-D {
			color: #fd7e14;
		}

		.grade-F {
			color: #dc3545;
		}

		.student-info {
			display: flex;
			align-items: center;
		}

		.student-avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 10px;
		}

		.weight-badge {
			font-size: 0.75rem;
			margin-left: 5px;
		}
	</style>
</head>
<!-- END HEAD -->

<body
	class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md">
	<div class="page-wrapper">
		<!-- start header -->
		<div class="page-header navbar navbar-fixed-top">
			<div class="page-header-inner ">
				<!-- logo start -->
				<div class="page-logo">
					<a href="index.html">
						<img class="logo-icon" src="assets/img/logo.png" alt="logo" height="40px">
						<span class="logo-default">Smart</span> </a>
				</div>
				<!-- logo end -->
				<ul class="nav navbar-nav navbar-left in">
					<li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
				</ul>
				<form class="search-form-opened" action="#" method="GET">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search..." name="query">
						<span class="input-group-btn">
							<a href="javascript:;" class="btn submit">
								<i class="icon-magnifier"></i>
							</a>
						</span>
					</div>
				</form>
				<!-- start mobile menu -->
				<a class="menu-toggler responsive-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
					<span></span>
				</a>
				<!-- end mobile menu -->
				<!-- start header menu -->
				<div class="top-menu">
					<ul class="nav navbar-nav pull-right">
						<li><a class="fullscreen-btn"><i data-feather="maximize"></i></a></li>
						<!-- start language menu -->
						<li class="dropdown language-switch">
							<a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> <img
									src="assets/img/flags/gb.png" class="position-left" alt=""> English
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="german"><img src="assets/img/flags/de.png" alt=""> German</a>
								</li>
								<li>
									<a class="french"><img src="assets/img/flags/fr.png" alt=""> French</a>
								</li>
								<li>
									<a class="english"><img src="assets/img/flags/gb.png" alt=""> English</a>
								</li>
							</ul>
						</li>
						<!-- end language menu -->
						<!-- start notification dropdown -->
						<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
							<a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<i data-feather="bell"></i>
								<span class="badge headerBadgeColor1"> 6 </span>
							</a>
							<ul class="dropdown-menu">
								<li class="external">
									<h3><span class="bold">12 pending</span> notifications</h3>
									<a href="#">view all</a>
								</li>
								<li>
									<ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
										<li>
											<a href="#">
												<span class="photo">
													<img src="assets/img/user/user2.jpg" class="img-circle" alt="">
												</span>
												<span class="subject">
													<span class="from"> Sarah Smith </span>
													<span class="time">Just Now </span>
												</span>
												<span class="message"> Jatin D you have done a great job.. </span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="photo">
													<img src="assets/img/user/user3.jpg" class="img-circle" alt="">
												</span>
												<span class="subject">
													<span class="from"> Lina Smith </span>
													<span class="time">46 mins </span>
												</span>
												<span class="message"> Apply for Ortho Surgeon </span>
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<!-- end notification dropdown -->
						<!-- start message dropdown -->
						<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
							<a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<i data-feather="mail"></i>
								<span class="badge headerBadgeColor2"> 4 </span>
							</a>
							<ul class="dropdown-menu">
								<li class="external">
									<h3>You have <span class="bold">7 New</span> Messages</h3>
									<a href="#">view all</a>
								</li>
								<li>
									<ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
										<li>
											<a href="#">
												<span class="photo">
													<img src="assets/img/user/user6.jpg" class="img-circle" alt="">
												</span>
												<span class="subject">
													<span class="from"> Lisa Park </span>
													<span class="time">Just Now </span>
												</span>
												<span class="message"> Fwd: Important Notice Regarding Your Domain
													Name... </span>
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<!-- end message dropdown -->
						<!-- start manage user dropdown -->
						<li class="dropdown dropdown-user">
							<a class="dropdown-toggle" data-bs-toggle="dropdown" data-hover="dropdown"
								data-close-others="true">
								<img alt="" class="img-circle " src="assets/img/dp.jpg" />
								<span class="username username-hide-on-mobile"> Sneha
							</a>
							<ul class="dropdown-menu dropdown-menu-default">
								<li>
									<a href="user_profile.html">
										<i class="icon-user"></i> Profile </a>
								</li>
								<li>
									<a href="#">
										<i class="icon-settings"></i> Settings
									</a>
								</li>
								<li class="divider"> </li>
								<li>
									<a href="login.html">
										<i class="icon-logout"></i> Log Out </a>
								</li>
							</ul>
						</li>
						<!-- end manage user dropdown -->
						<li class="dropdown dropdown-quick-sidebar-toggler">
							<a id="headerSettingButton" class="mdl-button mdl-js-button mdl-button--icon pull-right"
								data-upgraded=",MaterialButton">
								<i class="material-icons">more_vert</i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- end header -->

		<!-- start color quick setting -->
		<div class="settingSidebar">
			<a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
			</a>
			<div class="settingSidebar-body ps-container ps-theme-default">
				<div class=" fade show active">
					<div class="setting-panel-header">
						<div class="setting-panel-header-title">
							<i class="fas fa-cog"></i> Settings
						</div>
						<p class="setting-panel-header-subtitle">Customize your preferences</p>
					</div>

					<!-- Theme Mode Toggle -->
					<div class="setting-section">
						<div class="setting-section-title">
							<i class="fas fa-moon"></i> Appearance
						</div>
						<div class="theme-toggle-wrapper">
							<div class="theme-toggle-option">
								<input type="radio" name="themeMode" id="themeLight" value="light" checked>
								<label for="themeLight" class="theme-toggle-label">
									<span class="theme-toggle-icon"><i class="fas fa-sun"></i></span>
									<span class="theme-toggle-text">Light</span>
								</label>
							</div>
							<div class="theme-toggle-option">
								<input type="radio" name="themeMode" id="themeDark" value="dark">
								<label for="themeDark" class="theme-toggle-label">
									<span class="theme-toggle-icon"><i class="fas fa-moon"></i></span>
									<span class="theme-toggle-text">Dark</span>
								</label>
							</div>
						</div>
					</div>

					<!-- Layout Direction Toggle -->
					<div class="setting-section">
						<div class="setting-section-title">
							<i class="fas fa-random"></i> Layout Direction
						</div>
						<div class="layout-toggle-wrapper">
							<div class="layout-toggle-option">
								<input type="radio" name="layoutDir" id="layoutLTR" value="ltr" checked>
								<label for="layoutLTR" class="layout-toggle-label">
									<span class="layout-toggle-text">LTR</span>
									<span class="layout-toggle-desc">Left to Right</span>
								</label>
							</div>
							<div class="layout-toggle-option">
								<input type="radio" name="layoutDir" id="layoutRTL" value="rtl">
								<label for="layoutRTL" class="layout-toggle-label">
									<span class="layout-toggle-text">RTL</span>
									<span class="layout-toggle-desc">Right to Left</span>
								</label>
							</div>
						</div>
					</div>

					<div class="quick-setting">
						<ul id="themecolors">
							<li>
								<p class="sidebarSettingTitle"><i class="fas fa-bars"></i> Sidebar Color</p>
							</li>
							<li class="complete">
								<div class="theme-color sidebar-theme">
									<a href="#" class="color-dot" data-theme="white" title="White"><span
											class="color-dot-inner white"></span></a>
									<a href="#" class="color-dot" data-theme="dark" title="Dark"><span
											class="color-dot-inner dark"></span></a>
									<a href="#" class="color-dot" data-theme="blue" title="Blue"><span
											class="color-dot-inner blue"></span></a>
									<a href="#" class="color-dot" data-theme="indigo" title="Indigo"><span
											class="color-dot-inner indigo"></span></a>
									<a href="#" class="color-dot" data-theme="cyan" title="Cyan"><span
											class="color-dot-inner cyan"></span></a>
									<a href="#" class="color-dot" data-theme="green" title="Green"><span
											class="color-dot-inner green"></span></a>
									<a href="#" class="color-dot" data-theme="red" title="Red"><span
											class="color-dot-inner red"></span></a>
								</div>
							</li>
							<li>
								<p class="sidebarSettingTitle"><i class="fas fa-heading"></i> Header Color</p>
							</li>
							<li class="theme-option">
								<div class="theme-color header-theme">
									<a href="#" class="color-dot" data-theme="header-white" title="White"><span
											class="color-dot-inner white"></span></a>
									<a href="#" class="color-dot" data-theme="header-dark" title="Dark"><span
											class="color-dot-inner dark"></span></a>
									<a href="#" class="color-dot" data-theme="header-blue" title="Blue"><span
											class="color-dot-inner blue"></span></a>
									<a href="#" class="color-dot" data-theme="header-indigo" title="Indigo"><span
											class="color-dot-inner indigo"></span></a>
									<a href="#" class="color-dot" data-theme="header-cyan" title="Cyan"><span
											class="color-dot-inner cyan"></span></a>
									<a href="#" class="color-dot" data-theme="header-green" title="Green"><span
											class="color-dot-inner green"></span></a>
									<a href="#" class="color-dot" data-theme="header-red" title="Red"><span
											class="color-dot-inner red"></span></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- end color quick setting -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
			<div class="sidebar-container">
				<div class="sidemenu-container navbar-collapse collapse fixed-menu">
					<div class="left-sidemenu">
						<ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false"
							data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
							<li class="sidebar-toggler-wrapper hide">
								<div class="sidebar-toggler">
									<span></span>
								</div>
							</li>
							<li class="sidebar-user-panel">
								<div class="sidebar-user">
									<div class="sidebar-user-picture">
										<img alt="image" src="assets/img/dp.jpg">
									</div>
									<div class="sidebar-user-details">
										<div class="user-name">Sneha Patel</div>
										<div class="user-role">Administrator</div>
									</div>
								</div>
							</li>
							<li class="nav-item start">
								<a href="#" class="nav-link nav-toggle">
									<i data-feather="airplay"></i>
									<span class="title">Dashboard</span>
									<span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="index.html" class="nav-link ">
											<span class="title">Dashboard 1</span>
										</a>
									</li>
									<li class="nav-item ">
										<a href="dashboard2.html" class="nav-link ">
											<span class="title">Dashboard 2</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="dashboard3.html" class="nav-link ">
											<span class="title">Dashboard 3</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="event.html" class="nav-link nav-toggle"> <i data-feather="calendar"></i>
									<span class="title">Event Management</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="clock"></i>
									<span class="title">Class</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="schedule_calendar.html" class="nav-link "> <span class="title">Schedule
												Calendar</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="all_schedules.html" class="nav-link "> <span class="title">All
												Schedules</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_schedule.html" class="nav-link "> <span class="title">Add
												Schedule</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="user"></i>
									<span class="title">Professors</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="all_professors.html" class="nav-link "> <span class="title">All
												Professors</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_professor.html" class="nav-link "> <span class="title">Add
												Professor</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_professor_bootstrap.html" class="nav-link "> <span
												class="title">Add Professor Bootstrap</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="edit_professor.html" class="nav-link "> <span class="title">Edit
												Professor</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="professor_profile.html" class="nav-link "> <span class="title">About
												Professor</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"><i data-feather="users"></i>
									<span class="title">Students</span><span class="arrow"></span></a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="all_students.html" class="nav-link "> <span class="title">All
												Students</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_student.html" class="nav-link "> <span class="title">Add
												Student</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_student_bootstrap.html" class="nav-link "> <span class="title">Add
												Student Bootstrap</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="edit_student.html" class="nav-link "> <span class="title">Edit
												Student</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="student_profile.html" class="nav-link "> <span class="title">About
												Student</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="book"></i>
									<span class="title">Courses</span> <span class="arrow"></span>
									<span class="label label-rouded label-menu label-success">new</span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="all_courses.html" class="nav-link "> <span class="title">All
												Courses</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_course.html" class="nav-link "> <span class="title">Add
												Course</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_course_bootstrap.html" class="nav-link "> <span class="title">Add
												Course Bootstrap</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="edit_course.html" class="nav-link "> <span class="title">Edit
												Course</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="course_details.html" class="nav-link "> <span class="title">About
												Course</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="book-open"></i>
									<span class="title">Library</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="all_assets.html" class="nav-link "> <span class="title">All Library
												Assets</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_library.html" class="nav-link "> <span class="title">Add Library
												Asset</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_library_bootstrap.html" class="nav-link "> <span class="title">Add
												Asset Bootstrap</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="edit_library.html" class="nav-link "> <span class="title">Edit
												Asset</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="briefcase"></i>
									<span class="title">Departments</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="all_department.html" class="nav-link "> <span class="title">All
												Departments</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_department.html" class="nav-link "> <span class="title">Add
												Department</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_department_bootstrap.html" class="nav-link "> <span
												class="title">Add Department Bootstrap</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="edit_department.html" class="nav-link "> <span class="title">Edit
												Department</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="smile"></i>
									<span class="title">Staff</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="all_staffs.html" class="nav-link "> <span class="title">All
												Staff</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_staff.html" class="nav-link "> <span class="title">Add Staff</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_staff_bootstrap.html" class="nav-link "> <span class="title">Add
												Staff Bootstrap</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="edit_staff.html" class="nav-link "> <span class="title">Edit
												Staff</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="staff_profile.html" class="nav-link "> <span class="title">Staff
												Profile</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="coffee"></i>
									<span class="title">Holiday</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="all_holidays.html" class="nav-link "> <span class="title">All
												Holiday</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_holiday.html" class="nav-link "> <span class="title">Add
												Holiday</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_holiday_bootstrap.html" class="nav-link "> <span class="title">Add
												Holiday Bootstrap</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="edit_holiday.html" class="nav-link "> <span class="title">Edit
												Holiday</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="check-square"></i>
									<span class="title">Attendance</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="mark_attendance.html" class="nav-link "> <span class="title">Mark
												Attendance</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="view_attendance.html" class="nav-link "> <span class="title">View
												Attendance</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="student_attendance_history.html" class="nav-link "> <span
												class="title">Student
												Attendance History</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item active open">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="award"></i>
									<span class="title">Grade Management</span> <span class="selected"></span>
									<span class="arrow open"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item active">
										<a href="enter_grades.html" class="nav-link "> <span class="title">Enter
												Grades</span><span class="selected"></span>
										</a>
									</li>
									<li class="nav-item">
										<a href="view_grades.html" class="nav-link "> <span class="title">View
												Grades</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="generate_report_card.html" class="nav-link "> <span
												class="title">Generate
												Report Card</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="view_report_card.html" class="nav-link "> <span class="title">View
												Report Card</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle">
									<i data-feather="mail"></i>
									<span class="title">Email</span>
									<span class="arrow"></span>
									<span class="label label-rouded label-menu label-danger">new</span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="email_inbox.html" class="nav-link ">
											<span class="title">Inbox</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="email_view.html" class="nav-link ">
											<span class="title">View Mail</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="email_compose.html" class="nav-link ">
											<span class="title">Compose Mail</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="settings"></i>
									<span class="title">System Settings</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="system_settings.html" class="nav-link "> <span class="title">General
												Settings</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="academic_year_settings.html" class="nav-link "> <span
												class="title">Academic
												Year Settings</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="dollar-sign"></i>
									<span class="title">Fees</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="fees_collection.html" class="nav-link "> <span class="title">Fees
												Collection</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_fees.html" class="nav-link "> <span class="title">Add Fees </span>
										</a>
									</li>
									<li class="nav-item">
										<a href="add_fees_bootstrap.html" class="nav-link "> <span class="title">Add
												Fees Bootstrap</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="fees_receipt.html" class="nav-link "> <span class="title">Fee
												Receipt</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i data-feather="home"></i>
									<span class="title">Hostel Management</span> <span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="all_hostels.html" class="nav-link "> <span class="title">All
												Hostels</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="manage_rooms.html" class="nav-link "> <span class="title">Manage
												Rooms</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="allocate_room.html" class="nav-link "> <span class="title">Allocate
												Room</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="student_accommodation.html" class="nav-link "> <span
												class="title">Student
												Accommodation</span>
										</a>
									</li>
								</ul>
							</li>

							<li class="nav-item">
								<a href="widget.html" class="nav-link nav-toggle"> <i data-feather="gift"></i>
									<span class="title">Widget</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle">
									<i data-feather="copy"></i>
									<span class="title">UI Elements</span>
									<span class="label label-rouded label-menu label-warning">new</span>
									<span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="ui_buttons.html" class="nav-link ">
											<span class="title">Buttons</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="ui_sweet_alert.html" class="nav-link ">
											<span class="title">Sweet Alert</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="ui_tabs_accordions_navs.html" class="nav-link ">
											<span class="title">Tabs &amp; Accordions</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="ui_typography.html" class="nav-link ">
											<span class="title">Typography</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="notification.html" class="nav-link ">
											<span class="title">Notification</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="ui_icons.html" class="nav-link ">
											<span class="title">Icons</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="ui_panels.html" class="nav-link ">
											<span class="title">Panels</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="ui_grid.html" class="nav-link ">
											<span class="title">Grids</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="ui_tree.html" class="nav-link ">
											<span class="title">Tree View</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="ui_carousel.html" class="nav-link ">
											<span class="title">Carousel</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle">
									<i data-feather="layers"></i>
									<span class="title">Material Elements</span>
									<span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="material_button.html" class="nav-link ">
											<span class="title">Buttons</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_tab.html" class="nav-link ">
											<span class="title">Tabs</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_chips.html" class="nav-link ">
											<span class="title">Chips</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_grid.html" class="nav-link ">
											<span class="title">Grid</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_icons.html" class="nav-link ">
											<span class="title">Icon</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_form.html" class="nav-link ">
											<span class="title">Form</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_datepicker.html" class="nav-link ">
											<span class="title">DatePicker</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_select.html" class="nav-link ">
											<span class="title">Select Item</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_loading.html" class="nav-link ">
											<span class="title">Loading</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_menu.html" class="nav-link ">
											<span class="title">Menu</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_slider.html" class="nav-link ">
											<span class="title">Slider</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_tables.html" class="nav-link ">
											<span class="title">Tables</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_toggle.html" class="nav-link ">
											<span class="title">Toggle</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="material_badges.html" class="nav-link ">
											<span class="title">Badges</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="javascript:;" class="nav-link nav-toggle">
									<i data-feather="server"></i>
									<span class="title">Forms </span>
									<span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="layouts_form.html" class="nav-link ">
											<span class="title">Form Layout</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="advance_form.html" class="nav-link ">
											<span class="title">Advance Component</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="wizard.html" class="nav-link ">
											<span class="title">Form Wizard</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="validation_form.html" class="nav-link ">
											<span class="title">Form Validation</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="editable_form.html" class="nav-link ">
											<span class="title">Editor</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="javascript:;" class="nav-link nav-toggle">
									<i data-feather="grid"></i>
									<span class="title">Data Tables</span>
									<span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="basic_table.html" class="nav-link ">
											<span class="title">Basic Tables</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="advanced_table.html" class="nav-link ">
											<span class="title">Advance Tables</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="export_table.html" class="nav-link ">
											<span class="title">Export Tables</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="child_row_table.html" class="nav-link ">
											<span class="title">Child Row Tables</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="group_table.html" class="nav-link ">
											<span class="title">Grouping</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="tableData.html" class="nav-link ">
											<span class="title">Tables With Sourced Data</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="javascript:;" class="nav-link nav-toggle">
									<i data-feather="pie-chart"></i>
									<span class="title">Charts</span>
									<span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="charts_apexchart.html" class="nav-link ">
											<span class="title">Apex chart</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="charts_amchart.html" class="nav-link ">
											<span class="title">amChart</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="charts_plotly.html" class="nav-link ">
											<span class="title">Plotly Charts</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="charts_echarts.html" class="nav-link ">
											<span class="title">eCharts</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="charts_morris.html" class="nav-link ">
											<span class="title">Morris Charts</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="charts_chartjs.html" class="nav-link ">
											<span class="title">Chartjs</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="javascript:;" class="nav-link nav-toggle">
									<i data-feather="map-pin"></i>
									<span class="title">Maps</span>
									<span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="google_maps.html" class="nav-link ">
											<span class="title">Google Maps</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="vector_maps.html" class="nav-link ">
											<span class="title">Vector Maps</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="javascript:;" class="nav-link nav-toggle"> <i data-feather="anchor"></i>
									<span class="title">Extra pages</span>
									<span class="arrow"></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item  ">
										<a href="login.html" class="nav-link "> <span class="title">Login</span>
										</a>
									</li>
									<li class="nav-item  ">
										<a href="sign_up.html" class="nav-link "> <span class="title">Sign Up</span>
										</a>
									</li>
									<li class="nav-item  ">
										<a href="forgot_password.html" class="nav-link "> <span class="title">Forgot
												Password</span>
										</a>
									</li>
									<li class="nav-item"><a href="user_profile.html" class="nav-link "><span
												class="title">Profile</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="contact.html" class="nav-link "> <span class="title">Contact Us</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="lock_screen.html" class="nav-link "> <span class="title">Lock
												Screen</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="page-404.html" class="nav-link "> <span class="title">404 Page</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="page-500.html" class="nav-link "> <span class="title">500 Page</span>
										</a>
									</li>
									<li class="nav-item">
										<a href="blank_page.html" class="nav-link "> <span class="title">Blank
												Page</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a href="javascript:;" class="nav-link nav-toggle">
									<i data-feather="chevrons-down"></i>
									<span class="title">Multi Level Menu</span>
									<span class="arrow "></span>
								</a>
								<ul class="sub-menu">
									<li class="nav-item">
										<a href="javascript:;" class="nav-link nav-toggle">
											<i data-feather="alert-octagon"></i> Item 1
											<span class="arrow"></span>
										</a>
										<ul class="sub-menu">
											<li class="nav-item">
												<a href="javascript:;" class="nav-link nav-toggle">
													<i data-feather="aperture"></i> Arrow Toggle
													<span class="arrow "></span>
												</a>
												<ul class="sub-menu">
													<li class="nav-item">
														<a href="javascript:;" class="nav-link">
															<i data-feather="battery"></i> Sample Link 1</a>
													</li>
													<li class="nav-item">
														<a href="#" class="nav-link">
															<i data-feather="award"></i> Sample Link 2</a>
													</li>
													<li class="nav-item">
														<a href="#" class="nav-link">
															<i data-feather="box"></i> Sample Link 3</a>
													</li>
												</ul>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">
													<i data-feather="clock"></i> Sample Link 1</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">
													<i data-feather="database"></i> Sample Link 2</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">
													<i data-feather="edit"></i> Sample Link 3</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a href="javascript:;" class="nav-link nav-toggle">
											<i data-feather="folder"></i> Arrow Toggle
											<span class="arrow"></span>
										</a>
										<ul class="sub-menu">
											<li class="nav-item">
												<a href="#" class="nav-link">
													<i data-feather="film"></i> Sample Link 1</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">
													<i data-feather="file"></i> Sample Link 1</a>
											</li>
											<li class="nav-item">
												<a href="#" class="nav-link">
													<i data-feather="heart"></i> Sample Link 1
												</a>
											</li>
										</ul>
									</li>
									<li class="nav-item">
										<a href="#" class="nav-link">
											<i data-feather="lock"></i> Item 3 </a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class=" pull-left">
								<div class="page-title">Enter Grades</div>
							</div>
							<ol class="breadcrumb page-breadcrumb pull-right">
								<li><i class="fa fa-home"></i>&nbsp;<a class="parent-item"
										href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
								</li>
								<li><a class="parent-item" href="">Grade Management</a>&nbsp;<i
										class="fa fa-angle-right"></i>
								</li>
								<li class="active">Enter Grades</li>
							</ol>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="card card-box">
								<div class="card-head">
									<header>Grade Entry Form</header>
									<div class="tools">
										<a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
										<a class="t-close btn-color fa fa-times" href="javascript:;"></a>
									</div>
								</div>
								<div class="card-body">
									<form action="#" id="gradeForm" class="form-horizontal">
										<div class="form-body">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group row">
														<label class="control-label col-md-4">Academic Year
															<span class="required"> * </span>
														</label>
														<div class="col-md-8">
															<select class="form-select" id="academicYear">
																<option value="">Select Year...</option>
																<option value="2025-2026" selected>2025-2026</option>
																<option value="2024-2025">2024-2025</option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group row">
														<label class="control-label col-md-4">Semester
															<span class="required"> * </span>
														</label>
														<div class="col-md-8">
															<select class="form-select" id="semester">
																<option value="">Select Semester...</option>
																<option value="Fall" selected>Fall</option>
																<option value="Spring">Spring</option>
																<option value="Summer">Summer</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group row">
														<label class="control-label col-md-4">Course
															<span class="required"> * </span>
														</label>
														<div class="col-md-8">
															<select class="form-select" id="course">
																<option value="">Select Course...</option>
																<option value="CS101">CS101 - Introduction to
																	Programming</option>
																<option value="CS201">CS201 - Data Structures</option>
																<option value="MA101">MA101 - Calculus I</option>
																<option value="PH101">PH101 - Physics I</option>
																<option value="CH101">CH101 - Chemistry I</option>
															</select>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group row">
														<label class="control-label col-md-4">Assessment Type
															<span class="required"> * </span>
														</label>
														<div class="col-md-8">
															<select class="form-select" id="assessmentType">
																<option value="">Select Type...</option>
																<option value="Midterm" selected>Midterm Exam</option>
																<option value="Final">Final Exam</option>
																<option value="Assignment">Assignment</option>
																<option value="Quiz">Quiz</option>
																<option value="Project">Project</option>
																<option value="Lab">Lab Work</option>
															</select>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group row">
														<label class="control-label col-md-4">Max Marks
															<span class="required"> * </span>
														</label>
														<div class="col-md-8">
															<input type="number" class="form-control" id="maxMarks"
																value="100" placeholder="Enter maximum marks">
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group row">
														<label class="control-label col-md-4">Weight (%)
														</label>
														<div class="col-md-8">
															<input type="number" class="form-control" id="weight"
																value="30" placeholder="Enter weight percentage">
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
									<div class="row">
										<div class="col-md-12">
											<button type="button" class="btn btn-primary" onclick="loadStudents()">
												<i class="fa fa-search"></i> Load Students
											</button>
											<button type="button" class="btn btn-default" onclick="resetForm()">
												<i class="fa fa-refresh"></i> Reset
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" id="gradeEntrySection" style="display: none;">
						<div class="col-md-12">
							<div class="card card-box">
								<div class="card-head">
									<header>Student Grades Entry</header>
									<div class="tools">
										<a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
										<a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
										<a class="t-close btn-color fa fa-times" href="javascript:;"></a>
									</div>
								</div>
								<div class="card-body">
									<div class="row mb-3">
										<div class="col-md-6">
											<div class="btn-group">
												<button type="button" class="btn btn-success"
													onclick="fillAllGrades('A')">
													All A
												</button>
												<button type="button" class="btn btn-info" onclick="fillAllGrades('B')">
													All B
												</button>
												<button type="button" class="btn btn-warning"
													onclick="fillAllGrades('C')">
													All C
												</button>
												<button type="button" class="btn btn-secondary"
													onclick="fillAllGrades('D')">
													All D
												</button>
												<button type="button" class="btn btn-danger"
													onclick="fillAllGrades('F')">
													All F
												</button>
											</div>
										</div>
										<div class="col-md-6 text-end">
											<span class="badge bg-primary">Grade Scale: A (90-100), B (80-89), C
												(70-79), D (60-69), F (0-59)</span>
										</div>
									</div>
									<div class="table-responsive">
										<table
											class="table table-bordered table-hover table-checkable order-column valign-middle modern-table"
											id="gradesTable">
											<thead>
												<tr>
													<th></th>
													<th> Roll No </th>
													<th> Student Name </th>
													<th> Marks Obtained </th>
													<th> Percentage </th>
													<th> Letter Grade </th>
													<th> GPA </th>
													<th> Comments </th>
												</tr>
											</thead>
											<tbody>
												<tr class="odd gradeX">
													<td class="patient-img">
														<img src="assets/img/user/user1.jpg" alt="">
													</td>
													<td>101</td>
													<td>Rahul Sharma</td>
													<td>
														<input type="number" class="form-control marks-input"
															data-max="100" value="92" onchange="calculateGrade(this)">
													</td>
													<td class="percentage">92%</td>
													<td><span class="badge grade-A">A</span></td>
													<td class="gpa">4.0</td>
													<td>
														<input type="text" class="form-control"
															placeholder="Add comment">
													</td>
												</tr>
												<tr class="odd gradeX">
													<td class="patient-img">
														<img src="assets/img/user/user2.jpg" alt="">
													</td>
													<td>102</td>
													<td>Priya Patel</td>
													<td>
														<input type="number" class="form-control marks-input"
															data-max="100" value="85" onchange="calculateGrade(this)">
													</td>
													<td class="percentage">85%</td>
													<td><span class="badge grade-B">B</span></td>
													<td class="gpa">3.5</td>
													<td>
														<input type="text" class="form-control"
															placeholder="Add comment">
													</td>
												</tr>
												<tr class="odd gradeX">
													<td class="patient-img">
														<img src="assets/img/user/user3.jpg" alt="">
													</td>
													<td>103</td>
													<td>Amit Kumar</td>
													<td>
														<input type="number" class="form-control marks-input"
															data-max="100" value="78" onchange="calculateGrade(this)">
													</td>
													<td class="percentage">78%</td>
													<td><span class="badge grade-C">C</span></td>
													<td class="gpa">3.0</td>
													<td>
														<input type="text" class="form-control"
															placeholder="Add comment">
													</td>
												</tr>
												<tr class="odd gradeX">
													<td class="patient-img">
														<img src="assets/img/user/user4.jpg" alt="">
													</td>
													<td>104</td>
													<td>Sneha Singh</td>
													<td>
														<input type="number" class="form-control marks-input"
															data-max="100" value="95" onchange="calculateGrade(this)">
													</td>
													<td class="percentage">95%</td>
													<td><span class="badge grade-A">A</span></td>
													<td class="gpa">4.0</td>
													<td>
														<input type="text" class="form-control"
															placeholder="Add comment">
													</td>
												</tr>
												<tr class="odd gradeX">
													<td class="patient-img">
														<img src="assets/img/user/user5.jpg" alt="">
													</td>
													<td>105</td>
													<td>Vijay Reddy</td>
													<td>
														<input type="number" class="form-control marks-input"
															data-max="100" value="62" onchange="calculateGrade(this)">
													</td>
													<td class="percentage">62%</td>
													<td><span class="badge grade-D">D</span></td>
													<td class="gpa">2.0</td>
													<td>
														<input type="text" class="form-control"
															placeholder="Add comment">
													</td>
												</tr>
												<tr class="odd gradeX">
													<td class="patient-img">
														<img src="assets/img/user/user6.jpg" alt="">
													</td>
													<td>106</td>
													<td>Anita Desai</td>
													<td>
														<input type="number" class="form-control marks-input"
															data-max="100" value="55" onchange="calculateGrade(this)">
													</td>
													<td class="percentage">55%</td>
													<td><span class="badge grade-F">F</span></td>
													<td class="gpa">0.0</td>
													<td>
														<input type="text" class="form-control"
															placeholder="Add comment">
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div class="row mt-3">
										<div class="col-md-12">
											<div class="form-actions">
												<button type="button" class="btn btn-primary" onclick="saveGrades()">
													<i class="fa fa-check"></i> Save Grades
												</button>
												<button type="button" class="btn btn-success" onclick="submitGrades()">
													<i class="fa fa-paper-plane"></i> Submit Grades
												</button>
												<button type="button" class="btn btn-default" onclick="exportGrades()">
													<i class="fa fa-file-excel-o"></i> Export to Excel
												</button>
												<button type="button" class="btn btn-warning" onclick="printGrades()">
													<i class="fa fa-print"></i> Print
												</button>
											</div>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-12">
											<div class="alert alert-info">
												<h5>Grading Summary</h5>
												<div class="row">
													<div class="col-md-3">
														<strong>A Grade:</strong> <span id="countA">2</span> students
													</div>
													<div class="col-md-3">
														<strong>B Grade:</strong> <span id="countB">1</span> students
													</div>
													<div class="col-md-3">
														<strong>C Grade:</strong> <span id="countC">1</span> students
													</div>
													<div class="col-md-3">
														<strong>D/F Grade:</strong> <span id="countDF">2</span> students
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-4">
														<strong>Class Average:</strong> <span
															id="classAverage">77.8%</span>
													</div>
													<div class="col-md-4">
														<strong>Highest Score:</strong> <span
															id="highestScore">95</span>
													</div>
													<div class="col-md-4">
														<strong>Lowest Score:</strong> <span id="lowestScore">55</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end page content -->
			<!-- start chat sidebar -->
			<div class="chat-sidebar-container" data-close="body">
				<div class="chat-sidebar">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a href="#quick_sidebar_tab_1" class="nav-link active" data-bs-toggle="tab">
								<i class="material-icons">chat</i>
							</a>
					</ul>
					<div class="tab-content">
						<!-- Start User Chat -->
						<div class="tab-pane active chat-sidebar-menu" role="tabpanel" id="quick_sidebar_tab_1">
							<div class="chat-sidebar-users slimscroll-style">
								<div class="chat-header">
									<h5 class="list-heading">Online</h5>
								</div>
								<ul class="media-list list-items">
									<li class="media"><img class="media-object" src="assets/img/user/user1.jpg"
											width="35" height="35" alt="...">
										<i class="online dot"></i>
										<div class="media-body">
											<h5 class="media-heading">Sarah Smith</h5>
											<div class="media-heading-sub">Commerce</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- End User Chat -->
					</div>
				</div>
			</div>
			<!-- end chat sidebar -->
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<div class="page-footer">
			<div class="page-footer-inner"> 2017 &copy; Smart University Theme By
				<a href="mailto:redstartheme@gmail.com" target="_top" class="makerCss">Redstar Theme</a>
			</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- end footer -->
	</div>
	<!-- start js include path -->
	<script src="assets/plugins/jquery/jquery.min.js"></script>
	<script src="assets/plugins/popper/popper.js"></script>
	<script src="assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
	<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script src="assets/plugins/feather/feather.min.js"></script>
	<!-- bootstrap -->
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
	<!-- data tables -->
	<script src="assets/plugins/datatables/js/dataTables.min.js"></script>
	<script src="assets/plugins/datatables/js/dataTables.bootstrap5.min.js"></script>
	<script src="assets/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="assets/plugins/datatables/js/responsive.bootstrap5.min.js"></script>
	<script src="assets/js/pages/table/table_data.js"></script>
	<!-- Common js-->
	<script src="assets/js/app.js"></script>
	<script src="assets/js/layout.js"></script>
	<script src="assets/js/theme-color.js"></script>
	<!-- Material -->
	<script src="assets/plugins/material/material.min.js"></script>
	<script src="js/enter_grades.js"></script>
	<!-- end js include path -->
</body>

</html>